body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    /* background: #333;
    margin-right: 800px;
    margin-left: 100px; */
  }
  
  h1 {
    text-align: left;
    padding: 20px 0;
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #d21034;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }

  .nav-item {
    
  }

  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  #rightnav {
    float: right;
    margin-right: 11%;
  }

  #leftnav {
    float: left;
    margin-left: 11%;
  }

  .contact-form {
    /* contain: content; */
  }

  .form-group {
    clear: both;
    contain: content;
  }